<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dynamicsoftware.pocho.logistica">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logistica"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gps.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".VisitaCliente"/>
        <activity android:name=".DescargaClientesActivity"/>

        <service android:name=".Services.GPSIntentService"/>
        <service android:name=".Services.GPSLocationService"/>

        <receiver android:name=".Services.RecieverCall">
            <intent-filter>
                <action android:name="com.android.techtrainner"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".FinalizaRepartoActivity">
        </activity>
        <activity android:name=".Vista.EntregaParcial.ActivityListadoFactura">
        </activity>
        <activity android:name=".Vista.EntregaParcial.FinalizaEntregaParcial">
        </activity>
        <activity android:name=".Vista.VPRutaDeEntrega.VisitaMultipleClientes">
        </activity>
        <activity android:name=".Vista.EstadoMercaderia.EstadoMercaderiaActivity">
        </activity>
    </application>

</manifest>